<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
  <div th:if="${session.user==null}">
    <a th:href="@{/toLogin}">登录</a>
  </div>
  <div th:if="${session.user!=null}">
    <a th:href="@{/logout}">注销</a>
  </div>


</div>
<div shiro:hasAnyRoles="level1">
  <a th:href="@{/level1/page/1}">level1-page1</a>
  <a th:href="@{/level1/page/2}">level1-page2</a>
  <a th:href="@{/level1/page/3}">level1-page3</a>
</div>
<div shiro:hasAnyRoles="level2">
  <a th:href="@{/level2/page/1}">level2-page1</a>
  <a th:href="@{/level2/page/2}">level2-page2</a>
  <a th:href="@{/level2/page/3}">level2-page3</a>
</div>
<div shiro:hasAnyRoles="level3">
  <a th:href="@{/level3/page/1}">level3-page1</a>
  <a th:href="@{/level3/page/2}">level3-page2</a>
  <a th:href="@{/level3/page/3}">level3-page3</a>
</div>
<div shiro:hasAnyRoles="level4">
  <a th:href="@{/level4/page/1}">level4-page1</a>
</div>
</body>
</html>
————————————————
版权声明：本文为CSDN博主「桀骜浮沉」的原创文章，遵循CC 4.0 BY-SA版权协议，转载请附上原文出处链接及本声明。
原文链接：https://blog.csdn.net/weixin_45742032/article/details/114323817