<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
  <meta charset="UTF-8">
  <title>整合security</title>
</head>
<body>
登录账号<span sec:authentication="name"></span> <br/>
登录账号<span sec:authentication="principal.username"></span> <br/>
凭证<span sec:authentication="credentials"></span> <br/>
权限和角色<span sec:authentication="authorities"></span> <br/>
客户端地址<span sec:authentication="details.remoteAddress"></span> <br/>
sessionid<span sec:authentication="details.sessionId"></span> <br/>

<br/>
<br/>
<br/>
<br/>
通过用户权限来判断
<button sec:authorize="hasAuthority('/insert')">新增</button>
<button sec:authorize="hasAuthority('/delete')">删除</button>
<button sec:authorize="hasAuthority('/update')">修改</button>
<button sec:authorize="hasAuthority('/select')">查询</button>
<br/>

通过角色权限来判断 ROLE
<button sec:authorize="hasRole('abc')">新增</button>
<button sec:authorize="hasRole('abc')">删除</button>
<button sec:authorize="hasRole('abc')">修改</button>
<button sec:authorize="hasRole('abc')">查询</button>
</body>
</html>



